<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Open Ended Questions
    </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/open_ended_questions_background.jpg">
  </div>

  <div class="background-image-container">
    <div class="background-image-container__title-container--open-ended-questions">
      <div class="padding background-image-container__title-container-text--open-ended-questions">THE HEART &amp; SOUL <br>OF YOUR PARTNER</div>
    </div>
  </div>

  <div class="padding main-explanation row" style="background-color: #542F64;">
      <div class="super-heart col col-5 col-center"></div>
      <div class="col col-90">Want to know the heart and soul of your partner? The answers to these questions reveal who he or she really is, beyond the surface of every day routine.</div>
  </div>

  <div class="sub-explanation__text">
    <p>When you are both relaxed and content, choose one of these to discuss, and follow the threads of conversation until you have each exhausted the topic. Be curious and interested if you are the listener, and ask more questions as you think of them, if your partner is open to it.</p>
  </div>

  <super-navigate view-id="begin-questions">
    <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>