<div ng-controller="IndexController">

  <super-navbar>
    <super-navbar-title>
      Love Map
    </super-navbar-title>
  </super-navbar>

  <div class="item item-image ">
    <img src="/images/main_background.png">
  </div>

  <div class="background-image-container">
    <h3 class="background-image-container__title">GET TO KNOW <br> YOUR PARTNER</h3>
  </div>

    
  <div class="padding main-explanation row">
    <div class="super-heart col col-5 col-center"></div>
    <div class="col col-90">An important factor in relationship success is “Knowing” about your partner's world inner world; we call this idea <b>Love Maps</b>.
    </div>
  </div>

  <div class="sub-explanation__text">
    <p> This fun set of questions helps partners to know each other better. Take turns reading the questions and guessing your partner's answer. Your partner should tell you if you are correct, and if not, tell you the right answer.</p>
    <p>The spirit of this exercise is laughter, and gentle fun. Don't keep score.</p>
  </div>

  <super-navigate view-id="begin-questions">
    <div class="begin-questions">GET STARTED</div>
  </super-navigate>

</div>